@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: crimson;
}

.flipCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border-radius: 10px;
  background: #fff;
  flex-wrap: wrap;
}

.left-container {
  flex-basis: 50%;
  text-align: center;
  min-width: 400px;
  position: relative;
  background: #021223;
  border-radius: 10px 0 0 10px;
}
.right-container {
  flex-basis: 50%;
  min-width: 400px;
  position: relative;
  padding: 0 20px;
}

.iphone-img {
  text-align: center;
}

.iphone-img img {
  width: 400px;
}

.left-container h1 {
  padding-top: 15px;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
}

.left-container p {
  color: #a5c3c3;
  padding: 7px;
  font-family: system-ui;
}

.right-container h1 {
  font-weight: 600;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.right-container label {
  font-family: system-ui;
  font-weight: 500;
}

input {
  border-radius: 5px;
  border: 1.5px ridge;
  width: 100%;
  padding: 11px;
  margin-top: 7px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.right-container p {
  padding: 7px;
  font-family: system-ui;
  color: #1f1616;
  font-weight: 600;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 6px;
}

.right-container a {
  color: #013c3c;
  font-weight: 700;
}

.right-container button {
  color: white;
  background: #021223;
  padding: 12px 51px;
  margin: 18px 1px;
  border-radius: 6px;
  border: none;
  width: 100%;
  font-family: sans-serif;
  cursor: pointer;
}

@media (max-width: 860px) {
  .main {
    height: auto;
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    background: crimson;
  }
  .flipCard {
    width: 400px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .right-container {
    margin: 0;
  }

  .left-container {
    border-radius: 10px 10px 0 0;
    margin: 0;
  }
  .iphone-img {
    position: relative;
    text-align: center;
    margin: 0 auto;
  }
  .iphone-img img {
    width: 350px;
  }
}
